<div class="container">
    <h1>Google Shopping Merchant Sample</h1>

    {{#if isLoggedIn}}
        <div class="user-info">
            <p><strong>Logged in as:</strong> {{user.email}}</p>
            <a href="/products" class="btn btn-success">View Products</a>
            <a href="/auth/register-gcp" class="btn btn-info">Register GCP Project</a>
            <a href="/auth/logout" class="btn btn-danger">Logout</a>
        </div>
    {{else}}
        <p style="color: #666; margin-bottom: 30px;">
            Connect your Google account to manage your Google Shopping products
        </p>
        <a href="/auth/google" class="btn">
            Sign in with Google
        </a>
    {{/if}}
</div>